
li{
   display: inline;
   margin: 40px;
   text-transform:uppercase ;
   font-size: x-large;
}
ul{
  margin: 30px;

}
a{
  color: black;
  
}
a:hover{
  color: rgb(12, 202, 12);
}
nav{
  border-bottom: 5px solid rgb(6, 186, 6);
}
.content{
  margin: 4rem;
}
.flex{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}
.card-group{
  width: 25rem;
  
  border: 1px solid black;
  margin: 30px;
}
.a{
  color: rgb(3, 160, 3);
}
body{
  background: #5433FF; 
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); 
background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);


}
.card-title{
  font-size:x-large;
  color: #5433FF;
}